body {
  font-family: sans-serif;
  background-color: #ff9100;
}
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  width: 500px;
  background-color: white;
  min-height: 40vh;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 2rem;
}
input,
button {
  width: 200px;
  margin: 5px;
  padding: 4px;
  border: 1px solid grey;
}
button {
  background-color: #ff9100;
  width: 210px;
  border: 2px solid black;
  font-weight: bold;
}
